.main {

    height: 50%;
    background-color:whitesmoke;
  
    /* background-color: black; */
   
   
}


.hero {
    
}


.hero2{
    background-image: url('./pilates2.jpg');
    background-size: cover;
    background-position: center;
}

